body {
  font-family: Arial;
  margin: 0;
  background-color: #fafafa;
}

.navbar {
  background: white;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

.post {
  background: white;
  margin: 20px auto;
  padding: 10px;
  max-width: 400px;
  border: 1px solid #ddd;
}

.post img {
  width: 100%;
}

button {
  margin-top: 5px;
}
@media (max-width: 768px) {
  .post {
    max-width: 95%;
  }
}